<footer class="py-3 my-4">
    <div class="container">
      <div style="background-color: #007bff; color: #fff; padding: 10px;">
        <p class="text-center mb-0"><strong>Disclaimer:</strong> Disclaimer:</p>
      </div>
      <h4 class="text-center">Follow us on social media:</h4>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="https://www.facebook.com/" class="nav-link px-2 text-muted"><i class="fa fa-facebook fa-fw"></i> Facebook</a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/" class="nav-link px-2 text-muted"><i class="fa fa-instagram fa-fw"></i> Instagram</a>
        </li>
        <li class="nav-item">
          <a href="https://www.github.com/" class="nav-link px-2 text-muted"><i class="fa fa-github fa-fw"></i> Github</a>
        </li>
        <li class="nav-item">
          <a href="https://www.twitter.com/" class="nav-link px-2 text-muted"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
        </li>
      </ul>
      <p class="text-center text-muted">&copy; 2023 Wizard, Inc</p>
      <p class="text-center">&copy; 2023 Groceries store. All Rights Reserved.</p>
    </div>
  </footer>
  